@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  /*height: 100%;*/
}

body {
  background-image: linear-gradient(to left, #416800, #3a6400);
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px, 10, px, 0px, #030801;
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  color: #030801;
  text-align: center;
}

h2 {
  color: #041600;
}

p {
  text-align: justify;
}